.fancy-text {
    margin: 0;
}

.main-menu {
    margin: 1rem;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.in-game-container {
    position: absolute;
    z-index: 101;
    height: 100vh;
}

.game-title {
    color: #ffffff;
    font-size: 42pt;
    margin-bottom: 0.5rem;
}

.game-subtitle {
    font-size: 12pt;
    margin: 0;
}

.game-instructions {
    margin-top: 2rem;
}

.start-button {
    margin: 1rem auto;
    padding: 0.35em 1em;
    background-color: #2f3640;
    border: 0.1em solid #ffffff;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
}

.start-button:hover {
    color: #000000;
    background-color: #ffffff;
}

.toolbar {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 102;
}

.toolbar .toolbar-container {
    width: 560px;
    margin: auto;
    padding: 8px 0;
    border-left: 80px solid #303135;
    border-right: 80px solid #303135;
    background: #303135;
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
}

.toolbar li {
    list-style: none;
    display: inline-block;
    padding: 8px;
    width: 50px;
    height: 50px;
    background: #303135;
    border-radius: 8px;
    box-shadow: 3px 3px 4px #242424, -3px -3px 4px #3d3e43;
    margin: 0px 8px;
}

.toolbar .selected {
    box-shadow: inset 3px 3px 8px #252525, inset -3px -5px 8px #3b3c42;
    position: relative;
    border: 2px solid #3d3e43;
    padding: 6px;
}

.toolbar li img {
    width: 32px;
    height: 32px;
    margin: auto;
    margin: 10px 11px;
    position: relative;
}

.toolbar li .text {
    font-size: 16px;
}