.fancy-text {
    margin: 0;
}

#ui {}

.main-menu {
    margin: 1rem;
    width: 100%;
    height: 100%;
    text-align: center;
}

.in-game-container {
    position: absolute;
    z-index: 101;
    height: 100vh;
}

.game-title {
    color: #2c3e50;
    font-size: 42pt;
    margin-bottom: 0.5rem;
    margin: 0;
}

.game-subtitle {
    font-size: 12pt;
    margin: 0;
}

.game-instructions {
    margin-top: 2rem;
}

.start-button {
    margin: 1rem auto;
    padding: 0.35em 1em;
    background-color: #2f3640;
    border: 0.1em solid #ffffff;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
}

.start-button:hover {
    color: #000000;
    background-color: #ffffff;
}

.toolbar {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 102;
}

.toolbar .toolbar-container {
    width: 560px;
    margin: auto;
    padding: 8px 0;
    margin-bottom: 16px;
    background: #f0ede5;
    border: 1px solid #acaba8;
    border-radius: 4px;
    box-shadow: 0px 6px #cecccd, 0px 8px #acaba8, 0px 12px 4px #cbc4c5;
}

.toolbar li {
    list-style: none;
    display: inline-block;
    /* padding: 8px; */
    width: 75px;
    height: 50px;
    /* background: #303135; */
    border-radius: 4px;
    box-shadow: 0px 4px #89A169, 0px 6px #758B57, 0px 10px 0px #CAC3B4;
    /* margin: 0px 8px; */
    background: #AACE7E;
    border: 1px solid #758B57;
    margin: 4px 8px;
}

.toolbar .selected {
    position: relative;
    background: #89A36A;
    box-shadow: 0px 2px #607643, 0px 3px #4C5E37, 0px 5px 4px #CCC5B6;
    border: 1px solid #4C5E37;
    bottom: -4px;
}

.toolbar li img {
    width: 32px;
    height: 32px;
    margin: auto;
    margin: 8px 22px;
    position: relative;
}

.toolbar li .text {
    font-size: 16px;
}