.fancy-text {
    margin: 0;
}

.instruction-image {
    margin-left: 1rem;
}

.instruction-text {
    margin-left: 2rem;
    margin-right: 1rem;
    text-align: center;
}

.instruction-detail {
    display: flex;
    font-family: helvetica;
    align-items: center;
    align-content: space-around;
    margin-bottom: 1rem;
}

.credits {
    font-size: 8pt;
}

.credits a {
    text-decoration: none;
    color: darkred;
    transition: all 0.2s;
}
.credits a:hover {
    text-decoration: none;
    color: blue;
}

.main-menu {
    width: 100%;
    height: 100%;
    text-align: center;
    color: black;
    position: absolute;
    z-index: 104;
    /* background: #E5DECF; */
    background: repeating-linear-gradient(
        45deg,
        #e5decf,
        #e5decf 30px,
        #ddd7cc 0,
        #ddd7cc 60px
    );
}

.menu-container {
    height: 620px;
    width: 800px;
    margin: auto;
    margin-top: 50px;
}

.box {
    background: #f0ede5;
    border-radius: 4px;
    border: 1px solid #b7b6b3;
    box-shadow: 0px 6px #c1c0c1, 0px 8px #a7a6a4, 0px 13px 2px #c7beb2;
}

.in-game-container {
    position: absolute;
    z-index: 101;
    height: 100vh;
}

.game-title {
    font-size: 42pt;
    margin-bottom: 0.5rem;
    margin: 0;
    letter-spacing: 8px;
    padding: 24px;
    /* color: #494139; */
    text-shadow: 1px 6px #a9cc7d, -4px 6px #efba54, 4px 12px #bdd5e4;
    font-weight: 10;
    padding-bottom: 16px;
}

.game-title.small {
    font-size: 32px;
    padding: 16px;
    padding-bottom: 8px;
    width: 600px;
    margin: auto;
    text-align: center;
}

.game-subtitle {
    font-size: 16pt;
    margin: 0;
}

.game-instructions {
    /* height: 132px; */
    margin-top: 2rem;
}

.button {
    background-color: #efba54;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    font-family: Kamatic;
    height: 50px;
    width: 150px;
    border-radius: 4px;
    box-shadow: 0px 4px #b1893e, 0px 6px #6d5530, 0px 12px #c9c2b3;
    border: 1px solid #6d5530;
    outline: none;
    user-select: none;
}

.button:hover,
.button:active {
    background: #e09d37;
    border: 1px solid #6c4b19;
    box-shadow: 0px 2px #8e5d1f, 0px 4px #614b25, 0px 8px #bdb2a1;
    margin-top: 4px;
}

.toolbar {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 102;
}

.toolbar .toolbar-container {
    width: 720px;
    margin: auto;
    padding: 8px 0;
    padding-bottom: 4px;
    margin-bottom: 16px;
    background: #f0ede5;
    border: 1px solid #acaba8;
    border-radius: 4px;
    box-shadow: 0px 6px #cecccd, 0px 8px #acaba8, 0px 12px 4px #cbc4c5;
}

.toolbar .toolbar-item {
    list-style: none;
    display: inline-block;
    /* padding: 8px; */
    width: 75px;
    height: 50px;
    /* background: #303135; */
    border-radius: 4px;
    box-shadow: 0px 4px #89a169, 0px 6px #758b57, 0px 10px 0px #cac3b4;
    /* margin: 0px 8px; */
    background: #aace7e;
    border: 1px solid #758b57;
    margin: 4px 8px;
}

.toolbar .selected {
    position: relative;
    background: #89a36a;
    box-shadow: 0px 2px #607643, 0px 3px #4c5e37, 0px 5px 4px #ccc5b6;
    border: 1px solid #4c5e37;
    bottom: -4px;
}

.toolbar .toolbar-item img {
    width: 32px;
    height: 32px;
    margin: auto;
    margin: 8px 22px;
    position: relative;
}

.toolbar .toolbar-item::after {
    font-size: 12px;
    position: absolute;
    margin-top: -18px;
    margin-left: 4px;
}

.toolbar .toolbar-item:nth-child(2)::after {
    content: '1';
}

.toolbar .toolbar-item:nth-child(3)::after {
    content: '2';
}

.toolbar .toolbar-item:nth-child(4)::after {
    content: '3';
}

.toolbar .toolbar-item:nth-child(5)::after {
    content: '4';
}

.toolbar .toolbar-item:nth-child(6)::after {
    content: '5';
}

.toolbar .toolbar-item:nth-child(7)::after {
    content: '6';
}

.game-over {
    height: 80px;
    width: 640px;
    margin-left: calc(50% - 320px);
    position: absolute;
    /* margin-top: 150px; */
    z-index: 200;
    bottom: 14px;
    padding: 8px;
}

.game-over-button {
    float: right;
    top: 13px;
    margin-top: 16px;
    margin-right: 16px;
}

.game-over-button:hover,
.game-over-button:active {
    margin-top: 14px;
}

.game-over-text {
    display: inline-block;
    padding-left: 16px;
}

.score-label {
    font-size: 12px;
}

.score-value {
    font-size: 42px;
    margin: 0px 16px;
}

.score {
    list-style: none;
    display: inline-block;
    width: 120px;
    height: 52px;
    line-height: 50px;
    text-align: center;
    position: relative;
    margin: 0px 13px;
    bottom: 10px;
    background: #fefefe;
    border: 1px solid #bdb8ad;
    border-top: 4px solid #ccc4b5;
    box-shadow: inset 0px 3px 0px #dedddc;
}

.score p {
    margin: 0;
    font-size: 21px;
    position: relative;
}

.score p::after {
    content: 'score:';
    font-size: 10px;
    position: absolute;
    top: 19px;
    left: 32px;
}
